<ion-header>
 
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <h1>Welcome to Inventory Bot</h1>
      <h3>Explore Us</h3>
    </div>

    <img src="../../assets/welcome.png" />

    <div class="button-container">
      <ion-text>Scan a QRCode or Barcode to login to store</ion-text>
      <ion-button expand="block" class="main-button" (click)="openBarCodeScanner()" routerDirection="forward">
        <ion-icon slot="start" name="scan"></ion-icon>
        <ion-label>Log in</ion-label>
      </ion-button>
      <!-- <ion-button expand="block" color="dark" fill="clear" routerLink="/signup" routerDirection="forward">Signup</ion-button> -->
    </div>
  </div>
</ion-content>
<!-- <ion-content>
  <ion-card>
    <img src="./assets/logo1.png"/>
    <ion-card-content>
      <ion-text>Scan a QRCode or Barcode to login to store</ion-text>
      <ion-button color="success" expand="full" (click)="openBarCodeScanner()">Scan code</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col class="justify-align-center"  *ngIf="barCode">
        <ion-text>{{barCode}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col class="justify-align-center"  *ngIf="barCode">
        <ion-text>{{productInformation.product.image_url}}</ion-text>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="justify-align-center"  *ngIf="productInformation">
        <ion-text>{{productInformation.product.product_name}} </ion-text>
        <img *ngIf="productInformation" [src]="productInformation.product.image_url"/>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
