<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/product/Product" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ng-container *ngFor="let msg of messages">
      <ion-item expand="block" lines="none" class="{{msg.type === 'message_request' ? 'floatLeft' : 'floatRight'}}">
        <div>
          <div class="chat-bubble {{msg.type === 'message_request' ? 'left' : 'right'}}">
            <div class="message">{{msg.message}}</div>
            <div class="message-detail" style="float:right">
              <span>{{msg.epoch}}</span>
            </div>
          </div>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content> 
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-item>
      <ion-input type="text" [(ngModel)]="botinput" placeholder="Type Here"></ion-input>
      <ion-buttons clear item-right 
      (click)="sendMessage()"><ion-icon name="send-outline" color="dark"></ion-icon></ion-buttons>
     </ion-item>
  </ion-toolbar>
</ion-footer>